@use '../abstracts/variables' as *;

@media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
    .btn-container{
        justify-content: center;

        .btn:first-of-type{
            margin-bottom: 1rem;
        }
    }
}

.btn{
    align-items: center;
    border-radius: 4px;
    color: #FFF;
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    width: fit-content;

    @media ( min-width: $res-4k  ){
        font-size: 2rem;
        padding: 1.5rem 2rem;
    }
    
    &:after{
        content: '\2192';
        margin-left: .5rem;
    }

    
    &.btn-rojo{
        background-color: #B73841;

        &:hover{
            background-color: #749E52;
        }
    }

    &.btn-amarillo{
        background-color: #D8A03E;

        &:hover{
            background-color: #749E52;
        }
    }
}