@use './abstracts/variables' as *;

.contacto-container{
    padding: 4rem 0;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    width: 100%;
    z-index: 99999;
    transition: all .5s linear;

    .block-column{
        iframe{
            @media ( min-width: $resIpadMin ) and ( max-width: $resIpadMax ) and (orientation: portrait){
                width: 100%;
            }
        }
    }
}

.contacto-container h2{
    color: #FFF;
    text-align: center;
    max-width: 50%;
    margin: auto auto 2rem;

    @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
        font-size: 1.5rem;
        max-width: 90%;
    }
}
.contacto-container p{
    color: #FFF;
}
.form-contact{
    iframe{
        width: 100%;
    }
}