@use './abstracts/variables' as *;

.container{
    bottom: 1rem;
    position: fixed;
    left: 1rem;
    z-index: 99999;

    @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
       display: flex;
       flex-flow: column; 
    }

    @media ( min-width: $resIpadMin ) and ( max-width: $resIpadMax ) and (orientation: portrait){
        display: flex;
        flex-flow: column;
    }
}
.btn{
    align-items: center;
    background-color: #B73841;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 0 10px #000;
    justify-content: center;
    height: 48px;
    line-height: 0;
    padding: 0 .8rem;
    width: fit-content;

    @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
        height: 40px;
        
        &:first-of-type{
            margin-bottom: 1.5rem;
        }
    }

    @media ( min-width: $resIpadMin ) and ( max-width: $resIpadMax ) and (orientation: portrait){
        &:first-of-type{
            margin-bottom: 1.5rem;
        }
    }
    
    svg{
        height: 24px;
        fill: #FFF;

        @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
            height: 22px;
        }

        @media ( min-width: $resIpadMin ) and ( max-width: $resIpadMax ) and (orientation: portrait){
            height: 24px;
        }
    }
    span{
        color: #FFF;
        display: block;
        margin-left: .5rem;
        text-transform: uppercase;

        @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
            font-size: .7rem;
        }

        @media ( min-width: $resIpadMin ) and ( max-width: $resIpadMax ) and (orientation: portrait){
            font-size: 1rem;
        }
    }
}
