.footer{
    background-color: #000;
    padding: 4rem 0;
}
.footer_inner{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.footer_inner p{
    color: #FFF;
    font-size: 1rem;
    font-style: italic;
}