.container{
    background-color: #739D51;
    padding: 4rem 0 2rem;
}
.imagen_contenedor{
    cursor: pointer;
    transition: all .4s linear;
}
.imagen_contenedor:hover{
    box-shadow: 0 0 10px #000;
}