@use './abstracts/variables' as *;

.contenedor{
    line-height: 0;
}
.contenedor iframe{
    border:none;
    width: 100%;

    @media ( min-width: $res-4k ){
        height: 900px;
    }
}
.contenedor_botones{
    justify-content: center;
    padding: 2rem 0;

    .mapa_btn{
        line-height: normal;
    }
}