.proyecto_container{
    background-color: #EEDDCF;
    height: 80vh;
    position: relative;
}
.proyecto_inner{
    height: 100%;
}
.proyecto_text_container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    padding: 2rem 1rem 2rem 0;
    width: 50%;
}
.proyecto_text_container h3{
    font-size: 2rem;
}
.proyecto_image_container{
    box-shadow: 0 0 20px #000;
    line-height: 0;
    top: -25%;
    right: 0;
    position: absolute;
    width: 50%;
    z-index: 9999;
}
.proyecto_casa_container{
    height: 100vh;
    position: relative;
    width: 100%;
}
.proyecto_casa_container div{
    height: 100%;
    width: 100%;
}
.proyecto_casa_texto_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: rgba(0,0,0,.4);
    height: 100%;
    padding: 2rem;
    position: absolute;
    top:0;
    width: 100%;
}
.proyecto_casa_texto_container div{
    height: auto;
}
.proyecto_casa_texto_inner{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 100% !important;
    width: 50% !important;
}
.proyecto_casa_texto_inner h3{
    color: #FFF;
    font-size: 2rem;
    text-shadow: 1px 3px 5px #000;
}