@use './abstracts/variables' as *;

.proyecto_container{
    background-color: #EEDDCF;
    height: 80vh;
    position: relative;

    //Celular
    @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
        height: auto;
    }

    //Ipad
    @media ( min-width: $resIpadMin ) and ( max-width: $resIpadMax ){
        height: auto;
    }
    
    //iPad Pro
    @media  only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
        height: auto;
    }
    
}
.proyecto_inner{
    height: 100%;

    //Celular
    @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        column-gap: 2rem;
    }
    //Ipad
    @media ( min-width: $resIpadMin ) and ( max-width: $resIpadMax ){
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        column-gap: 2rem;
    }
    
    //iPad Pro
    @media  only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
        display: flex;
    }

}
.proyecto_text_container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    padding: 2rem 1rem 2rem 0;
    width: 50%;

    //Celular
    @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100%;
    }
    
    //Ipad
    @media ( min-width: $resIpadMin ) and ( max-width: $resIpadMax ){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        padding: 2rem 0 2rem;
        width: 100%;
    }
    
    h3{
        font-size: 2rem;

        //Celular
        @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
            font-size: 1.4rem;
        }

        //Pantallas viejas
        @media ( min-width: $resOldScreenMin ) and ( max-width: $resOldScreenMax ){
            font-size: 1.6rem;
        }
        
        //Pantallas 4K
        @media ( min-width: $res-4k ){
            font-size: 2.5rem;
        }
    }
    
    ul{
        font-size: 1.2rem;
        line-height: 180%;
        list-style: none;

        //Celular
        @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
            font-size: 1.1rem;
        }
        
        @media ( min-width: $resOldScreenMin ) and ( max-width: $resOldScreenMax ){
            font-size: 1rem;
        }
        
        @media ( min-width: $res-4k ){
            font-size: 1.8rem;
        }
        
        li::before {
            content: "\2022";
            color: #B73841;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }
}
.proyecto_image_container{
    box-shadow: 0 0 20px #000;
    line-height: 0;
    top: -25%;
    right: 0;
    position: absolute;
    width: 50%;
    z-index: 9999;

    //Celular
    @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
        box-shadow: none;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 4rem 0 0;
        position: static;
        width: 100%;
    }

    //Ipad
    @media ( min-width: $resIpadMin ) and ( max-width: $resIpadMax ){
        box-shadow: none;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 4rem 0 0;
        position: static;
        width: 100%;
    }
    
    //iPad Pro
    @media  only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
        box-shadow: none;
        padding-top: 4rem;
        padding-left: 1rem;
        position: static;
        width: 50%;
    }

    @media ( min-width: $resOldScreenMin ) and ( max-width: $resOldScreenMax ){
        top: -8%;
    }

    div{
        width: 100%;
    }
}
.proyecto_casa_container{
    height: 100vh;
    position: relative;
    width: 100%;
    
    div{
        height: 100%;
        width: 100%;
    }
}
.proyecto_casa_texto_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: rgba(0,0,0,.4);
    height: 100%;
    padding: 2rem;
    position: absolute;
    top:0;
    width: 100%;
    
    div{
        height: auto;
    }
}
.proyecto_casa_texto_inner{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: 100% !important;
    width: 50% !important;

    //Celular
    @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
        width: 100% !important;
    }
    
    //Ipad
    @media ( min-width: $resIpadMin ) and ( max-width: $resIpadMax ){
        width: 100% !important;
    }
    
    h3{
        color: #FFF;
        font-size: 2rem;
        text-shadow: 1px 3px 5px #000;

        //Celular
        @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
            font-size: 1.2rem;
            text-align: center;
        }
        
        @media ( min-width: $resOldScreenMin ) and ( max-width: $resOldScreenMax ){
            font-size: 1.6rem;
        }
        
        @media ( min-width: $res-4k ){
            font-size: 2.8rem;
        }
    }
}