@use './abstracts/variables' as *;

.redes_container{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
    
    @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
        justify-content: center;
        width: 100%;
    }
}
.redes_container a{
    align-items: center;
    background-color: #B73841;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    height: 48px;
    padding: 0.8rem;
    width: 48px;

    &:hover{
        background-color: #749E52;
    }

    @media ( min-width: $res-4k ){
        height: 64px;
        width: 64px;
    }
}
.redes_container a svg{
    height: 100%;
    width: auto;
}