@use './abstracts//variables' as *;

.container{
    padding: 4rem 0;
}
.container {
    
    h2{
        color: #749E52;
        border-bottom: solid 4px #749E52;
        margin: auto auto 4rem;
        text-align: center;
        max-width: 65%;

        //Celular
        @media ( min-width: $resCelMin ) and ( max-width: $resCelMax ) and (orientation: portrait){
            font-size: 1.6rem;
            max-width: 90%;
        }

        @media ( min-width: $resOldScreenMin ) and ( max-width: $resOldScreenMax ){
            font-size: 1.8rem;
            max-width: 55%;
        }
        
        @media ( min-width: $res-4k ){
            font-size: 4rem;
        }
    }

}
.columna svg{
    height: auto;
    width: 80px;
}
.botones_cta{
    padding-top: 4rem;
    justify-content: center;
}